<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.SmaiApp">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- storage permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- call permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuyenGop">
        <activity android:name=".ConfirmAddress3"></activity>
        <activity android:name=".CategoryActivity2" />
        <activity android:name=".ConfirmAddress2" />
        <activity android:name=".GiveFor" />
        <activity
            android:name=".DetailPost"
            android:parentActivityName=".GiveFor" />
        <activity android:name=".NewpostType" />
        <activity android:name=".who_activity" />
        <activity android:name=".CompleteActivity" />
        <activity
            android:name=".ConfirmInforPost"
            android:parentActivityName=".Detail" />
        <activity android:name=".ViewHistory" />
        <activity
            android:name=".PostDonation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Detail"
            android:parentActivityName=".CategoryActivity" />
        <activity
            android:name=".CategoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ConfirmAddress" />
        <activity
            android:name=".Account"/>
        <activity
            android:name=".Announce"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Search"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>