<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smait.quyengop">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- storage permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- call permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuyenGop">
        <activity android:name="com.smait.quyengop.DetailPostSearch"
            android:parentActivityName="com.smait.quyengop.Search"
            android:screenOrientation="portrait"/>
        <activity android:name="com.smait.quyengop.GetNewPassword" />
        <activity android:name="com.smait.quyengop.ForgotPassword" />
        <activity
            android:name="com.smait.quyengop.VerifyOTP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.PopupCategory"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.CustomTheme" />
        <activity
            android:name="com.smait.quyengop.FilterPostDonation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.DetailPostTinDang"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.DetailPostTangCongDong"
            android:parentActivityName="com.smait.quyengop.PostDonation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.DetailPostGiveFor"
            android:parentActivityName="com.smait.quyengop.GiveFor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.ConfirmInforPost2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.Detail2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.CategoryActivity3"
            android:parentActivityName="com.smait.quyengop.ConfirmAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.ConfirmAddress3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.CategoryActivity2"
            android:parentActivityName="com.smait.quyengop.ConfirmAddress2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.ConfirmAddress2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.GiveFor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.DetailPost"
            android:parentActivityName="com.smait.quyengop.GiveFor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.NewpostType"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.who_activity"
            android:parentActivityName="com.smait.quyengop.ConfirmAddress3"
            android:screenOrientation="portrait" />
        <activity android:name="com.smait.quyengop.CompleteActivity" />
        <activity
            android:name="com.smait.quyengop.ConfirmInforPost"
            android:parentActivityName="com.smait.quyengop.Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.ViewHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.PostDonation"
            android:parentActivityName="com.smait.quyengop.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.Detail"
            android:parentActivityName="com.smait.quyengop.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.CategoryActivity"
            android:parentActivityName="com.smait.quyengop.who_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.ConfirmAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.Account"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.Announce"
            android:parentActivityName="com.smait.quyengop.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.Search"
            android:parentActivityName="com.smait.quyengop.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smait.quyengop.MainActivity"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>